.input:focus {
}

.input {
}

.inputWrapper {
}

.superInput {
    width: 276px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(209, 209, 209, 1)

}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
}

.error {
    color: #CC1439;

}
